@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-shape {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
/* exact green gradient like your image */
.hero-bg {
  background: linear-gradient(135deg, #00c6a7, #1e9e8f);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.perspective {
  perspective: 1000px;
}

.project-bg {
  background: linear-gradient(135deg, #00c6a7, #1e9e8f, #0f2027);
}

@keyframes gradientMove {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  50% {
    transform: translate(10%, 10%) scale(1.1);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

.animate-gradient {
  animation: gradientMove 8s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}